<%- include('../partials/header.ejs') %>
    <div id="container" class="container-fluid px-5 pt-2">
        <!-- Data Entry -->

        <section id="form">
            <form id="search-form">
                <h4 class="mb-3 title">Faculty Report</h4>
                <div class="row data-row">
                    <div class="col-md-12 mb-3">
                        <label>Event</label>
                        <select class="custom-select d-block w-100" name="event" required>
                            <option value="">Choose...</option>
                            <option value="all">All</option>
                            <option value="awards">Awards & Achievements</option>
                            <option value="faculty_served_as">Faculty Served As</option>
                            <option value="patent">Patent</option>
                            <option value="results">Results</option>
                            
                        </select>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label for="fromDate">From Date</label>
                        <input type="date" name="fromDate" class="form-control start__date" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="toDate">To Date</label>
                        <input type="date" name="toDate" class="form-control end__date" required>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label for="isDescriptionRequired">Details Required</label>
                        <select class="custom-select d-block w-100" name="isDescriptionRequired" required>
                            <option value="">Choose...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="dept">Departments</label>
                        <select class="custom-select d-block w-100" name="dept" required>
                            <option value="">Choose...</option>
                            <option value="ALL">All</option>
                            <option value="CSE">CSE</option>
                            <option value="ISE">ISE</option>
                            <option value="ECE">ECE</option>
                            <option value="MECH">MECH</option>
                            <option value="CIV">CIVIL</option>
                            <option value="TCE">TCE</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="Basic Science">Basic Science</option>
                        </select>
                    </div>
                </div>
              <button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                        Search</button>

            </form>
        </section>

    </div>

    <!-- Report Table -->

    <!-- Scroll to Top Button-->

<button type="button" class="btn btn-floating ripple" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
  </button>

    <!-- Footer -->
    <footer class = "sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <p id="copyright-text">Copyright &copy; Data Repository - CMRIT 2022</p>
          </div>
        </div>
      </footer>
        </body>
        <script type="text/javascript" src="/scripts/index.js"></script>
        </html>